
header {
  display: flex;
  width: 360px;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  display: flex;
  width: 180px;
  justify-content: space-between;
  margin: 0 0;
  padding: 0;
}
.nav-list > li {
  /* margin-left: 10px; */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER SECTION */

.attribution {
  font-size: 1rem;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}